carma/ui/cdv/config/DTD/cdv-xml.dtd

<?xml version='1.0' encoding='UTF-8' ?>

<!--Generated by XML Authority-->

<!ELEMENT Carma:xml-config (Carma:cdv , Carma:server)>

<!ATTLIST Carma:xml-config  xmlns:Carma CDATA  #REQUIRED >
<!ELEMENT Carma:cdv (Carma:nameServers , Carma:nameServerPorts , Carma:LookAndFeel , Carma:CacheSize , Carma:NameComponent , Carma:properties , Carma:Menus+)>

<!ELEMENT Carma:LookAndFeel (#PCDATA)>

<!ELEMENT Carma:nameServers (Carma:nameServer+)>

<!ELEMENT Carma:nameServer (Carma:identifier)>

<!ELEMENT Carma:identifier (#PCDATA)>

<!ELEMENT Carma:nameServerPorts (Carma:nameServerPort+)>

<!ELEMENT Carma:nameServerPort (Carma:pidentifier)>

<!ELEMENT Carma:pidentifier (#PCDATA)>

<!ATTLIST Carma:pidentifier  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT Carma:CacheSize (#PCDATA)>

<!ATTLIST Carma:CacheSize  e-dtype NMTOKEN  #FIXED 'int' >
<!ELEMENT Carma:NameComponent (Carma:item+)>

<!--#DOCUMENTATION:Indicates whether is NameComponent should be used on StartUp.-->
<!ATTLIST Carma:NameComponent start   CDATA     #REQUIRED>

<!ATTLIST Carma:NameComponent a-dtype NMTOKENS  "start boolean">

<!ELEMENT Carma:item EMPTY>

<!ATTLIST Carma:item  id    (OVRO | CC | BIMA | ObsRecord | AST)  #REQUIRED
                       kind CDATA  #REQUIRED >
<!ELEMENT Carma:properties (Carma:prop+)>

<!ELEMENT Carma:prop EMPTY>

<!ATTLIST Carma:prop  key   CDATA  #REQUIRED
                       value CDATA  #REQUIRED >
<!ELEMENT Carma:Menus (Carma:rootMenu+)>

<!ELEMENT Carma:rootMenu (Carma:name , Carma:tooltip , Carma:Menu+)>

<!ATTLIST Carma:rootMenu  idName  (OVRO | BIMA )  #REQUIRED >
<!ELEMENT Carma:name (#PCDATA)>

<!ELEMENT Carma:tooltip (#PCDATA)>

<!ELEMENT Carma:Menu (Carma:name , Carma:tooltip , Carma:action? , Carma:col* , Carma:Menu*)>

<!ATTLIST Carma:Menu  menuType  (node | leaf )  #REQUIRED
                       idName    (OVRO | BIMA )  #REQUIRED >
<!ELEMENT Carma:server (Carma:eventServers , Carma:eventServerPorts , Carma:obsRecordEventChannelName)>

<!ELEMENT Carma:eventServers (Carma:eventServer)+>

<!ELEMENT Carma:eventServerPorts (Carma:eventServerPort)+>

<!ELEMENT Carma:obsRecordEventChannelName (#PCDATA)>

<!ELEMENT Carma:eventServer (Carma:identifier)>

<!ELEMENT Carma:eventServerPort (Carma:pidentifier)>

<!ELEMENT Carma:idName (#PCDATA)>

<!ELEMENT Carma:action EMPTY>

<!ATTLIST Carma:action atype    (plot | value )  #REQUIRED>

<!ATTLIST Carma:action view     (ant | base )  #REQUIRED>

<!ATTLIST Carma:action mode     (comb | sep )  #REQUIRED>

<!--#DOCUMENTATION:Indicates whether is NameComponent should be used on StartUp.-->
<!ATTLIST Carma:action start   CDATA     #REQUIRED>

<!ATTLIST Carma:action a-dtype NMTOKENS  "start boolean">

<!ELEMENT Carma:col EMPTY>

<!ATTLIST Carma:col  name   CDATA  #REQUIRED
                      metric CDATA  #REQUIRED
                      ptype   (spec | avg )  #REQUIRED >
